#insignificant_main
{
	/* height: 400px; when this is enabled, the parent article doesn't resize */
	width: 700px;
}
#insignificant_main > #backgrounds
{
	background: #000;
	float: left;
	height: 380px;
	width: 100px;
}
#insignificant_main .bgth
{
	height: 50px;
	margin: 5px auto;
	width: 50px;
}
#insignificant_main .bgth:hover
{
	height: 90px;
	width: 90px;
}
#insignificant_main #vader
{
	background-position: -20px 0px;
	background-size: 130px 360px;
}
#insignificant_main #enterprise
{
	background-position: -20px -90px;
	background-size: 130px 360px;
}
#insignificant_main #sargeras
{
	background-position: -20px -180px;
	background-size: 130px 360px;
}
#insignificant_main #fluffy
{
	background-position: -20px -270px;
	background-size: 130px 360px;
}
#insignificant_main .selected_thumb
{
	border: 3px dotted #ccc;
}
#insignificant_main > #editor
{
	float: left;
	height: 380px;
	width: 600px;
}
#insignificant_main #dragItem
{
	height: 20px;
	width: 20px;
}
#insignificant_main #ball
{
	display: inline;
}
#insignificant_main .text
{
	background: none;
	border: 2px dashed #333;
	color: #fff;
	-moz-border-radius: 10px;
	font-family: Impact;
	font-size: 30px;
	height: 200px;
	margin: -10px auto auto 10px;
	width: 400px;
}
#insignificant_main > #tools fieldset
{
	border: none;
	display: inline;
}

#insignificant_main #font_ul {
	border: 1px solid #8db11f;
	border-radius: 5px;
	display: inline-block;
	height: 30px;
	list-style-type: none;
	margin-top: 0;
	overflow: hidden;
	padding-left: 0;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	width: 180px;
}
#insignificant_main #font_ul:hover {
	height: 200px;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}
#insignificant_main #font_ul .title {
	background: #8db11f;
	border: 1px solid #8db11f;
	color: #242424;
	font-family: sans-serif;
	line-height: 30px;
	padding-left: 20px;
}
#insignificant_main #font_ul .selected {
	padding-left: 20px;
}
#insignificant_main > #tools .font_type {
	cursor: pointer;
	height: 25px;
	margin-right: 10px;
}
#insignificant_main > #tools .font_type:hover {
	background: #8db11f;
}

#insignificant_main #font_ul,
#insignificant_main .icon,
#insignificant_main .input {
	float: left;
	margin-right: 5px;
}
#insignificant_main .icon
{	
	background: #8db11f;
	border: 1px solid #8db11f;
	border-radius: 5px;
	color: #242424;
	cursor: pointer;
	height: 30px;
	width: 30px;
}
#insignificant_main .icon:hover
{
	background-color: #e2e3a6;
}
#insignificant_main .input {
	position: relative;
}
#insignificant_main .input select {
	background: #8db11f;
	border: 1px solid #8db11f;
	border-radius: 5px;
	height: 32px;
	padding-top: 4px;
	padding-right: 5px;
}
#insignificant_main .input .selectArrow {
	background: #8db11f url('toolkit.png') -27px 9px no-repeat;
	display: inline-block;
	height: 30px;
	left: 68px;
	pointer-events: none;
	position: absolute;
	top: 1px;
	width: 18px;
}
#insignificant_main .input input {
	background: #8db11f;
	border: 1px solid #8db11f;
	border-radius: 5px;
	color: #242424;
	font-family: sans-serif;
	height: 32px;
}
#insignificant_main .input input:hover {
	background-color: #e2e3a6;
}
#insignificant_main #balloonIcon
{
	background: #8db11f url('toolkit.png') 2px 3px no-repeat;
}
#insignificant_main #balloonIcon:hover
{
	background-color: #e2e3a6;
}
#insignificant_main #shadowIcon
{
	display: inline-block;
	height: 30px;
	width: 20px;
	padding: 0 0 0 10px; 
	font-size: 20px; 
	line-height: 30px;
	text-shadow: 3px 3px 1px #222;
}
#insignificant_main #balloon,
#insignificant_main #textShadow,
#insignificant_main #selectedX,
#insignificant_main #selectedY,
#insignificant_main #selectedBackground
{
	display: none;
}
#insignificant_main > #tools ul.fontSizeIcon {
	cursor: default;
	display: inline-block;
	list-style-type: none;
	margin: 0 5px;
	padding: 0;
}
#insignificant_main > #tools ul.fontSizeIcon li {
	display: inline;
	font-family: serif;
}
#insignificant_main > #tools ul.fontSizeIcon li:first-child {
	font-size: 70%;
}
#insignificant_main > #tools ul.fontSizeIcon li:last-child {
	font-size: 130%;
}

/* @group insignificant_generated: modal window with generated image */
#insignificant_generated
{
	background: rgba(0,0,0,0.8);
	display: block;
	height: 100%;
	left: 0;
	padding: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5; /* the mde bulletin uses z-index */
}
#insignificant_generated div
{
	display: block;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	text-align: center;
	width: 800px;
}
#insignificant_generated img
{
	box-shadow: 2px 2px 10px #000;
	-moz-box-shadow: 2px 2px 10px #000;
	-o-box-shadow: 2px 2px 10px #000;
	-webkit-box-shadow: 2px 2px 10px #000;
	height: 380px;
	width: 600px;
}
#insignificant_generated span
{
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Impacted;
	font-size: 300%;
	text-shadow: 2px 2px 10px #000;
}
/* @end insignificant_generated */
